@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100dvh;
    min-width: 300px;
    display: flex;
    align-items: center;
    font-size: 15px;
    
}

.grid{
    max-width: 300px;
    margin: 0 auto;
    
    
}
#qr-code {
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 12px;
    text-align: center;

}
.grid #text {
    padding: 22px 5px;
}
.grid img{
    width: 100%;
    border-radius: 12px;
}
#text h2 {
    color: hsl(218, 44%, 22%);
    
    
}
#text p {
    color: hsl(220, 15%, 55%);
    padding: 15px 0;
}